@using PagedList.Mvc;
@model PagedList.PagedList<WebsiteDuLichDiaPhuong.Models.NHAHANG>

@{
    ViewBag.Title = "Danh sách nhà hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="padding-top: 20px; margin-left: 10px">DANH SÁCH NHÀ HÀNG</h2>
<p style="margin-left: 10px">
    @Html.ActionLink("Tạo mới", "ThemNhaHangMoi", "NhaHang", new { @class = "btn btn-success" })
</p>
<table class="table table-bordered table-hover" border="2px" style=" padding-top: 30px; margin-left: 10px; margin-right: 20px">
    <tr>
        <th style="text-align: center">
            Tên nhà hàng
        </th>
        <th style="text-align: center">
            Địa chỉ
        </th>
        <th style="text-align: center">
            Số điện thoại
        </th>
        <th style="text-align: center">
            Chức năng
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align: center">
                @Html.DisplayFor(modelItem => item.TenNhaHang)
            </td>
            <td style="text-align: center">
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td style="text-align: center">
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.ActionLink("Sửa", "SuaNhaHang", new { id = item.MaNhaHang }, new { @class = "btn btn-info" })
                @Html.ActionLink("Chi tiết", "ChiTietNhaHang", new { id = item.MaNhaHang }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Xóa", "XoaNhaHang", new { id = item.MaNhaHang }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
<!--Tạo liên kết các trang-->
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="col-md-12 text-center clear-both">
    @Html.PagedListPager(Model, page => Url.Action("DanhSachNhaHang",
    new { page = page }))
</div>