@model WebsiteDuLichDiaPhuong.Models.NHAHANG
@{
    ViewBag.Title = "Sửa nhà hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="padding-top: 30px; margin-left: 25px">SỬA NHÀ HÀNG</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaNhaHang)

    <div style="padding-top: 30px; margin-left: 25px; font-weight: bold" class="form-group">
        @Html.LabelFor(model => model.TenNhaHang, "TÊN NHÀ HÀNG", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenNhaHang, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenNhaHang, "", new { @class = "text-danger" })
        </div>
    </div>

        <div style="padding-top: 30px; margin-left: 25px; font-weight: bold" class="form-group">
            @Html.LabelFor(model => model.DiaChi, "ĐỊA CHỈ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div style="padding-top: 30px; margin-left: 25px; font-weight: bold" class="form-group">
            @Html.LabelFor(model => model.SDT, "SỐ ĐIỆN THOẠI", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div style="padding-top: 30px; margin-left: 25px" class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-success" />
                @Html.ActionLink("Quay về", "DanhSachNhaHang", "Admin", new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}