@model WebsiteDuLichDiaPhuong.Models.KHACHSAN

@{
    ViewBag.Title = "Chi tiết khách sạn";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="padding-top: 30px; margin-left: 25px">CHI TIẾT KHÁCH SẠN</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt style="padding-top: 30px; margin-left: 25px; font-weight: bold">
            TÊN KHÁCH SẠN:
        </dt>

        <dd style="padding-top: 30px; margin-left: 25px">
            @Html.DisplayFor(model => model.TenKS)
        </dd>

        <dt style="padding-top: 30px; margin-left: 25px; font-weight: bold">
            ĐỊA CHỈ:
        </dt>

        <dd style="padding-top: 30px; margin-left: 25px">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt style="padding-top: 30px; margin-left: 25px; font-weight: bold">
            SỐ ĐIỆN THOẠI:
        </dt>

        <dd style="padding-top: 30px; margin-left: 25px">
            @Html.DisplayFor(model => model.SĐT)
        </dd>

        <dt style="padding-top: 30px; margin-left: 25px; font-weight: bold">
            TÊN HUYỆN:
        </dt>

        <dd style="padding-top: 30px; margin-left: 25px">
            @Html.DisplayFor(model => model.HUYEN.TenHuyen)
        </dd>
    </dl>
</div>
<p style="padding-top: 30px; margin-left: 25px">
    @Html.ActionLink("Chỉnh sửa", "SuaKhachSan", new { id = Model.MaKS }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Quay về", "DanhSachKhachSan", "KhachSan", new { @class = "btn btn-danger" })
</p>
